# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os

In [2]:
base="https://www.airlinequality.com/airline-reviews/british-airways"
# Creating Lists for all the info that we need
reviews=[]
date=[]
country=[]
stars=[]

for i in range(1,11):
    print(f"Scrapping Page {i}")
    url=f"{base}/page/{i}/?sortby=post_date%3ADesc&pagesize={100}"
    #sending HTTP request to the page
    response=requests.get(url)
    #parse contents
    content=response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    table = parsed_content.find('h3', attrs = {'class':'text_sub_header userStatusWrapper'})  

    for p in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(p.get_text())
    for item in parsed_content.find_all("time"):
        date.append(item.text)
    for item in parsed_content.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))
    for item in parsed_content.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")

Scrapping Page 1
Scrapping Page 2
Scrapping Page 3
Scrapping Page 4
Scrapping Page 5
Scrapping Page 6
Scrapping Page 7
Scrapping Page 8
Scrapping Page 9
Scrapping Page 10

In [3]:
#checking all the lengths
len(reviews)

1000

In [4]:
len(date)

1000

In [5]:
len(country)

1000

In [6]:
len(stars)

1010

In [7]:
#Since the number of stars are more we reduce it
stars=stars[0:1000]
len(stars)

1000

In [8]:
df = pd.DataFrame({"reviews":reviews,"stars":stars,"date":date,"country":country})
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | The customer services (call ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,14th October 2023,United Kingdom
1,✅ Trip Verified | I am a frequent flyer with...,3,14th October 2023,United Kingdom
2,Not Verified | Flew with BA to Punta Cana. To...,5,12th October 2023,United Kingdom
3,✅ Trip Verified | They downgraded me from bu...,4,12th October 2023,Australia
4,✅ Trip Verified | The already delayed aircra...,1,11th October 2023,United Kingdom

In [9]:
df.to_csv("C:/python(me)/british-airways/BA_reviews2.csv")

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.

Since we are done with the data collection. We must next focus on cleaning the data

In [11]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | The customer services (call ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,14th October 2023,United Kingdom
1,✅ Trip Verified | I am a frequent flyer with...,3,14th October 2023,United Kingdom
2,Not Verified | Flew with BA to Punta Cana. To...,5,12th October 2023,United Kingdom
3,✅ Trip Verified | They downgraded me from bu...,4,12th October 2023,Australia
4,✅ Trip Verified | The already delayed aircra...,1,11th October 2023,United Kingdom